body {
text-align: center;
background-color: black;
color: green;
font-family: "Courier New", Courier, monospace;
}

#paper {
text-align: center;
border: 2px solid grey;
width: 750px;
height: 700px;
font-size: 20px;
border-radius: 100px;
font-family: "Courier New", Courier, monospace;
color: green;
background-color: black;
padding-top: 25px;
overflow-y: auto;
overflow-x: hidden;
padding: 25px;
box-sizing: border-box;
line-height: 1.4;
}


button {
text-align: center;
border-radius: 30px;
color: green;
background-color: black;
height: 50px;
width: 50px;
font-family: "Courier New", Courier, monospace;
margin: 4px;
}


.keyboard {
text-align: center;
padding-top: 25px;
border: 2px solid gray;
height: 450px;
width: 750px;
border-radius: 50px;
}

.tools {
text-align: center;
padding-top: 25px;
border: 2px solid gray;
height: 450px;
width: 750px;
border-radius: 50px;
}

button:hover {
  background-color: #222;
  border: 2px solid light green;
  cursor: pointer;
}

