body {
text-align: center;
background-color: black;
color: #05e32d;
font-family: "Courier New", Courier, monospace;
}

#paper {
text-align: center;
border: 2px solid grey;
width: 750px;
height: 700px;
font-size: 20px;
border-radius: 100px;
font-family: "Courier New", Courier, monospace;
color: #05e32d;
background-color: black;
padding-top: 25px;
overflow-y: auto;
overflow-x: hidden;
padding: 25px;
box-sizing: border-box;
line-height: 1.4;
}


button {
text-align: center;
border-radius: 30px;
color: #05e32d;
background-color: black;
height: 50px;
width: 50px;
font-family: "Courier New", Courier, monospace;
margin: 10px;
}


.keyboard {
text-align: center;
padding-top: 25px;
border: 2px solid gray;
height: 350px;
width: 750px;
border-radius: 50px;
color: #05e32d;
}

.tools {
text-align: center;
padding-top: 25px;
border: 2px solid gray;
height: 350px;
width: 750px;
border-radius: 50px;
color: #05e32d;
}

button:hover {
  background-color: #222;
  border: 2px solid white;
  cursor: pointer;
}

